# 后端的端口
PORT='3000'
# JWT密钥，使用随机字符填写
JWT_SECRET=''
# CORS源,填写前端运行的地址
CORS_ORIGIN='http://localhost:5173'

# 邮箱的服务器地址，例如：smtp.163.com
MAIL_HOST=''
# 邮箱地址的端口，一般为465
MAIL_PORT=465
# 邮箱的名称，例如example@example.com
MAIL_USER=''
# 邮箱的密码，请从邮箱官网中启用SMTP并获取填写授权码
MAIL_PASS=''
# 发送邮件时发件人的名称，不填是默认为simple-chatroom
MAIL_SENDER=''